div{
    margin-bottom: 20px;
}

.container-fluid{
	background:rgba(180, 180, 180, 0.2);
	border: 1px solid rgba(230, 230, 230, 0.1);
    border-radius: 15px;
	box-shadow: -10px 10px 30px 5px rgba(100, 100, 100, 0.12);
    margin: 8%;
	margin-top: 0;
    padding: 1% 5% 8%;
	position: relative;
	top: 30px;
}

h3, .h3{
    font-size: 21px;
}

h3::first-letter{
    color: rgba(255, 0, 0, 0.8);
    font-size: 220%;
	font-weight: 100;
}

h4{
    font-size: 14px;
    font-weight: bold;
}

.page-header {
    background:rgba(255, 255, 255, 0.15);
    border-bottom: none;
    border-radius: 25px;
    margin: 55px 0 50px 10px;
    padding: 25px;
    width: 100%;
}

.page-header small{
    margin-left: 20px;
}

.page-legend {
    background:rgba(255, 255, 255, 0.2);
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: inline-block;
    margin: 15px 0 0 10px;
    padding: 15px;
    padding-bottom: 3px;
    padding-top: 5px;
}

.profileImg{
    border-radius: 5px;
    margin-bottom: 25px;
	width: 100%;
}

.glyphicon-envelope{
	color: rgba(255, 0, 0, 0.8);
    font-weight: bold;
    font-size: 30px;
}

#contactInfo{
    background: rgba(200, 200, 200, 0.3);
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    padding: 10px;
}

#contactInfo:hover{
    background: rgba(220, 220, 220, 0.3);
}

.smallItem{
    background:rgba(242, 242, 242, 0.15);
    border-radius: 5px;
    padding: 1% 2%;
}

.item{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    /*box-shadow: -3px 3px 10px 1px rgba(0,0,0,0.05);*/
	box-shadow:
		-10px 10px 16px 0px rgba(0,0,0,0.05),
		-3px 3px 10px 1px rgba(0,0,0,0.05),
		-10px 10px 10px 1px rgba(0,0,0,0.05),
		-1px 1px 10px 3px rgba(204, 34, 34, 0);
    margin: 0 5px 20px 5px;
    padding: 4% 7%;
}

.whoami{
    padding: 8% 16%;
}

#myCanvas{
    filter: opacity(50%);
	position: fixed;
}

.label{
    background: rgba(255, 255, 255, 0.3);
    color: #000;
}

.logo-container{
    background: unset;
    margin: 10px 0;
    padding-top: 10px;
}

.logo-container strong{
    margin-left: 10px;
}
