body{
    background: #f2f2f2;
}

.container{
    background-color: #ddd;
    border-radius: 3px;
    margin-top: 20px;
}

.nav>li{
    margin: 10px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: transparent;
    color: inherit;
}

.page-header small{
    margin-left: 20px;
}

#profileImg{
    border-radius: 3px;
    width: 165px;
}

.expDiv{
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}